.menu-area {
  display: flex;
  padding-top: 10%;
}
.order{
  text-align: right;
}
.mb-10{
  color: white;
}
.section-gap {
  padding: 120px 0;
}
.single-menu {
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(182, 136, 52, 0.2);
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
}

.single-menu .title-div {
  padding-bottom: 20px;
}

.single-menu .price {
  color: #b68834;
  font-size: 18px;
  font-weight: 600;
}

.single-menu p {
  margin-bottom: 0;
  
}
